:root {
	--color-bg-primary: #f7f7fb;
	--color-bg-second: #21243d;
	--color-bg-third: #ffffff;
	--color-bg-fourth: #00aeff;
	--color-text-primary: #00aeff;
	--color-text-second: #ffffff;
	--color-text-third: #21243d;
	--color-shadow-down: #00000080;
	--border-radius: 8px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	color: inherit;
}

ul {
	margin: 0;
}

body {
	margin: 0;
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
}

.container {
	margin: 0 auto;
	width: 85%;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.btn {
	padding: .5rem;
	margin-bottom: .5rem;
	border-radius: var(--border-radius);
	border: none;
	cursor: pointer;
}

.navbar {
	width: 100%;
	background-color: var(--color-bg-third);
	color: var(--color-text-primary);
	box-shadow: 0 0 15px 0 var(--color-shadow-down);
}

.navbar a {
	text-decoration: none;
}

.navbar-expand {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.navbar-brand {
	font-size: 1.5em;
}

.navbar-nav {
	font-size: 1.2em;
}

main.container {
	display: grid;
	grid-gap: 16px;
	align-items: start;
	grid-template-areas: "form" "cards";
}

.form {
	grid-area: form;
}

.card {
	grid-area: cards;
	position: relative;
}

@media screen and (min-width: 772px) {
	main.container {
		grid-template-areas: "cards form";
		grid-template-columns: 1fr 1fr;
	}
}

.form,
.card {
	background-color: var(--color-bg-second);
	display: flex;
	border-radius: var(--border-radius);
	box-shadow: var(--color-shadow-down);
	color: var(--color-bg-primary);
}

.card-content-img {
	position: relative;
	min-width: 133px;
	max-width: 500px;
}

.card-img {
	border-top-left-radius: var(--border-radius);
	height: 100%;
	width: 100%;
	border-bottom-left-radius: var(--border-radius);
}

.card-time {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	background-color: var(--color-text-primary);
	border-bottom-left-radius: var(--border-radius);
	color: var(--color-header-text);
	opacity: .8;
}

.card-body {
	margin-left: 1rem;
	padding: 2rem 0;
}

.card .btn {
	border-radius: .2rem;
	background-color: #ce181e;
	color: var(--color-text-second);
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.card .btn:hover {
	opacity: .8;
}

.card-title,
.card-author,
.card-opinion {
	color: var(--color-text-primary);
	font-weight: 700;
	padding: 0 20px 0 0;
}

.card-title span,
.card-author span,
.card-opinion span {
	color: var(--color-text-second);
	font-weight: 500;
}

.form {
	flex-direction: column;
	padding: 1rem 1.5rem;
}

.form .btn {
	background: #5468ff;
	color: var(--color-bg-primary);
}

.form .btn:hover {
	opacity: .8;
}

.form-control {
	width: 100%;
	padding: .5rem 1rem;
	border-radius: var(--border-radius);
	color: var(--color-text-third);
	outline: none;
}

.form-control:focus {
	box-shadow: var(--color-shadow-medium);
	border-color: var(--color-text-link);
}

.form .imgForm {
	width: 125px;
	height: 175px;
	border-radius: var(--border-radius);
}

.form .contentImg {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 500px) {
	.form .contentImg {
		flex-direction: row;
	}
}

.form-control-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for="inputImgForm"] {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background-color: #106ba0;
	display: inline-block;
	transition: all .5s;
	cursor: pointer;
	padding: 15px 40px !important;
	text-transform: uppercase;
	width: 240px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
